[submodule "subprojects/iniparser"]
	path = subprojects/iniparser
	url = https://github.com/ndevilla/iniparser.git

[submodule "subprojects/ruy"]
	path = subprojects/ruy
	url = https://github.com/google/ruy

[submodule "subprojects/ggml"]
	path = subprojects/ggml
	url = https://github.com/ggml-org/ggml.git

[submodule "subprojects/CLBlast"]
	path = subprojects/CLBlast
	url = https://github.com/CNugteren/CLBlast.git

[submodule "subprojects/OpenBLAS"]
	path = subprojects/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
	
[submodule "subprojects/googletest"]
	path = subprojects/googletest
	url = https://github.com/google/googletest.git

[submodule "subprojects/benchmark"]
	path = subprojects/benchmark
	url = https://github.com/google/benchmark.git
	
[submodule "nntrainer-windows-resource"]
	path = nntrainer-windows-resource
	url = https://github.com/nnstreamer/nntrainer-windows-resource.git
