[submodule "subprojects/iniparser"]
	path = subprojects/iniparser
	url = https://github.com/ndevilla/iniparser.git

[submodule "subprojects/ruy"]
	path = subprojects/ruy
	url = https://github.com/google/ruy

[submodule "subprojects/ggml"]
	path = subprojects/ggml
	url = https://github.com/ggml-org/ggml.git

[submodule "subprojects/CLBlast"]
	path = subprojects/CLBlast
	url = https://github.com/CNugteren/CLBlast.git

[submodule "subprojects/OpenBLAS"]
	path = subprojects/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
[submodule "subprojects/OpenCL-Headers"]
	path = nntrainer/opencl/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "subprojects/OpenCL-CLHPP"]
	path = nntrainer/opencl/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP.git
