##
# @brief .gitignore list

# ignore build directory
/build
/builddir
.cache/

# jni build files
iniparser/
libs/
obj/
ml_api_common/
openblas/

# tflite for applications
tensorflow-1.13.1
tensorflow-2.3.0

# data files for applications
Applications/**/data
cifar-100-binary*
Applications/**/*.bin

# CTag
/tags
/TAGS

# vi files
*.h~
*.c~
*.cc~
*.sw?

# vscode settings
/.vscode

# binary files
*.out
*.in
*.info
*.so
*.o
*.a
*.o.d
*.nnlayergolden
*.nnmodelgolden

# log files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# flatbuffer compiled header
*_generated.h

# android build
nntrainer_for_android.tar.gz

#compiled files
debian/
debian/.debhelper/
debian/capi-ml-training-dev.substvars
debian/capi-ml-training-dev/
debian/capi-ml-training.substvars
debian/capi-ml-training/
debian/ccapi-ml-training-dev.substvars
debian/ccapi-ml-training-dev/
debian/ccapi-ml-training.substvars
debian/ccapi-ml-training/
debian/files
debian/nnstreamer-nntrainer-dev.substvars
debian/nnstreamer-nntrainer-dev/
debian/nnstreamer-nntrainer-trainer-dev.substvars
debian/nnstreamer-nntrainer-trainer-dev/
debian/nnstreamer-nntrainer-trainer.substvars
debian/nnstreamer-nntrainer-trainer/
debian/nnstreamer-nntrainer.substvars
debian/nnstreamer-nntrainer/
debian/nntrainer-applications.substvars
debian/nntrainer-applications/
debian/nntrainer-dev.substvars
debian/nntrainer-dev/
debian/nntrainer.substvars
debian/nntrainer/
debian/tmp/
nntrainer-build-deps_0.5.0_all.deb

