##
# @brief .gitignore list

# ignore build directory
/build
/builddir

# jni build files
iniparser/
libs/
obj/
ml_api_common/
openblas/

# tflite for applications
tensorflow-1.13.1
tensorflow-2.3.0

# data files for applications
Applications/**/data
cifar-100-binary*
Applications/**/*.bin

# CTag
/tags
/TAGS

# vi files
*.h~
*.c~
*.cc~
*.sw?

# vscode settings
/.vscode

# binary files
*.out
*.in
*.info
*.so
*.o
*.a
*.o.d

# log files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# flatbuffer compiled header
*_generated.h
