Source: nntrainer
Section: libs
Priority: optional
Maintainer: Jijoong Moon <jijoong.moon@samsung.com>
Build-Depends: gcc-9 | gcc-8 | gcc-7 | gcc-6 | gcc-5 (>=5.4),
 python3, python3-dev, python3-numpy,
 pkg-config, cmake, ninja-build, meson (>=0.50), debhelper (>=9), libboost-dev,
 libopenblas-dev, libiniparser-dev, tensorflow-lite-dev, libjsoncpp-dev,
 libcurl3-gnutls-dev | libcurl4-gnutls-dev | libcurl3-openssl-dev |
 libcurl4-openssl-dev | libcurl3-nns-dev | libcurl4-nns-dev, libgtest-dev,
 libflatbuffers-dev, libglib2.0-dev, nnstreamer-dev, libgstreamer1.0-dev,
 libgstreamer-plugins-base1.0-dev, gstreamer1.0-tools, gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good
Standards-Version: 3.9.6
Homepage: https://github.com/nnstreamer/nntrainer

Package: nntrainer
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Training Neural Network Models on Devices.
 This is software framework for training neural network model on devices

Package: nntrainer-dev
Architecture: any
Multi-Arch: same
Depends: nntrainer
Description: NNtrainer development package
 This is development package for nntrainer.

Package: nntrainer-applications
Architecture: any
Multi-Arch: same
Depends: nntrainer, ${shlibs:Depends}, ${misc:Depends}
Description: NNTrainer Applications pacakge
 This is nntrainer applications package.

