Source: nntrainer
Section: libs
Priority: optional
Maintainer: Jijoong Moon <jijoong.moon@samsung.com>
Build-Depends: gcc-13 | gcc-12 | gcc-11 | gcc-10 | gcc-9 | gcc-8 | gcc-7 (>=7.5),
 python3, python3-numpy,
 pkg-config, cmake, ninja-build, meson (>=0.50), debhelper (>=9),
 libopenblas-dev, libiniparser-dev (>=4.1), tensorflow2-lite-dev, libjsoncpp-dev,
 libcurl3-gnutls-dev | libcurl4-gnutls-dev | libcurl3-openssl-dev |
 libcurl4-openssl-dev | libcurl3-nns-dev | libcurl4-nns-dev, libgtest-dev,
 libflatbuffers-dev, flatbuffers-compiler, libglib2.0-dev, nnstreamer-tensorflow2-lite,
 nnstreamer-dev, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev,
 gstreamer1.0-tools, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good,
 ml-api-common-dev, ml-inference-api-dev
Standards-Version: 3.9.6
Homepage: https://github.com/nnstreamer/nntrainer

Package: nntrainer
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Training Neural Network Models on Devices.
 This is software framework for training neural network model on devices

Package: nntrainer-dev
Architecture: any
Multi-Arch: same
Depends: nntrainer, ccapi-ml-training-dev, capi-ml-training-dev
Description: NNtrainer development package
 This is development package for nntrainer.

Package: nntrainer-applications
Architecture: any
Multi-Arch: same
Depends: nntrainer, ${shlibs:Depends}, ${misc:Depends}
Description: NNTrainer Applications pacakge
 This is nntrainer applications package.

Package: ccapi-ml-training
Architecture: any
Multi-Arch: same
Depends: nntrainer, ${shlibs:Depends}, ${misc:Depends}
Description: NNTrainer cc-API
 This package provides c++ API set to train machine learning models on-device.

Package: ccapi-ml-training-dev
Architecture: any
Multi-Arch: same
Depends: ccapi-ml-training, ${shlibs:Depends}, ${misc:Depends}
Description: Development package for NNTrainer cc-API
 This is a development package for NNTrainer cc-API.

Package: capi-ml-training
Architecture: any
Multi-Arch: same
Depends: ccapi-ml-training, ${shlibs:Depends}, ${misc:Depends}
Description: NNTrainer c-API
 This package provides native API set to train machine learning models on-device.

Package: capi-ml-training-dev
Architecture: any
Multi-Arch: same
Depends: capi-ml-training, ${shlibs:Depends}, ${misc:Depends}
Description: Development package for NNTrainer c-API
 This is a development package for NNTrainer c-API.

Package: nnstreamer-nntrainer
Architecture: any
Multi-Arch: same
Depends: nnstreamer, nntrainer, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer tensor filter for nntrainer
 This is a NNStreamer tensor filter for nntrainer to support inference.

Package: nnstreamer-nntrainer-dev
Architecture: any
Multi-Arch: same
Depends: nnstreamer-nntrainer, ${shlibs:Depends}, ${misc:Depends}
Description: Development package for nntrainer tensor filter
 This is a developement package of nntrainer's tensor filter.

Package: nnstreamer-nntrainer-trainer
Architecture: any
Multi-Arch: same
Depends: nnstreamer, nntrainer, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer tensor trainer for nntrainer
 This is a NNStreamer tensor trainer for nntrainer to support training.

Package: nnstreamer-nntrainer-trainer-dev
Architecture: any
Multi-Arch: same
Depends: nnstreamer-nntrainer-trainer, ${shlibs:Depends}, ${misc:Depends}
Description: Development package for nntrainer tensor trainer
 This is a developement package of nntrainer's tensor trainer.

